.home {
  z-index: 100;
  text-align: center;
  min-height: 100%;
  height: 100%;
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(right bottom, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(right bottom, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Nunito', sans-serif;
  opacity: 0.95;
}

.header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
}

.me {
  color: white;
  text-decoration: none;
}      /* unvisited link */
.me:visited {color: white}  /* visited link */
.me:hover {
  color: white;
  text-decoration: underline;
}


